
<ion-content *ngIf="(res) && (list_img1)">

  <ion-item>
    <div class="decorate"></div>
    <ion-label>男生</ion-label>
  </ion-item>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let item of res.male;let index=index" (click)="jump(item._id,item.title)">
        <div class="cell" style="display: flex;align-items: center;justify-content: space-between;">
          <span style="display: inline-block;">{{item.shortTitle}}</span>
          <img [src]="list_img2[index]" alt="" style="display: inline-block;">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <div class="decorate" slot="start"></div>
    <ion-label>女生</ion-label>
  </ion-item>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let item of res.female;let index=index" (click)="jump(item._id,item.title)">
        <div class="cell" style="display: flex;align-items: center;justify-content: space-between;">
          <span style="display: inline-block;">{{item.shortTitle}}</span>
          <img [src]="list_img1[index]" alt="" style="display: inline-block;">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>